{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Find video</h1>
    <form action="/resultpage" method='post', class='ui form' style='width: 50%;'>
        Title:<br>
        <input type="text" name="title">
        <br>
        Created On:<br>
        <input type="text" name="created_on">
	<br>
        Duration:<br>
        <input type="text" name="duration">
	<br><br>
    <button class="ui button">
        Submit
    </button>
    </form>     
</div>
{% endblock %}